/* Reseta css */
html, body, section, div, h1, h2, h3, p, ul, li, dl, dt, dd, footer {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

/* Estilos */
body {
    background-color: #FAF6ED;
    color: #222;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
