/* Reseta css */
html, body, section, div, h1, h2, h3, p, ul, li, dl, dt, dd, footer {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

/* Estilos */
body {
    background-color: #FAF6ED;
    color: #222;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
    grid-column: 3 / 5;
    margin: 2rem 0;
    background-color: #FB5;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1em;
}